<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>Cobrança IFMT</title>
    <style>
        .container {
            margin-top: 20px;
        }
        .card {
            padding: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <header th:replace="Cabecalho"></header>
	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>

    <script src="/js/jQuery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
